.public_container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.clearfloat {
    zoom: 1;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.public_header {
    width: 100%;
    height: 50px;
    border-top: 3px solid #224584;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 3px 10px #DDD;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(255,255,255,0.8);
}


.header_logo {
    width: 100px;
    height: 40px;
    display: inline-block;
    margin-top: 2px;
}

.header_logo .logo {
    width: 120px;
    height: 40px;

}

.header_ul {
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
}

.header_ul li {
    float: left;
    margin-left: 50px;
}

.header_ul a {
    color: #000;
}

.search{
    height: 60px;
    position: relative;
    width: 200px;
    display: inline-block;
    margin-left: 36px;
    /*vertical-align: top;*/
    /*margin-top: 40px;*/
    display: inline-block;
    vertical-align: top;
    margin-top: -4px;
    /*margin-right: 3%;*/
    /*vertical-align: middle;*/
    opacity: 0.5;
}

.search_container{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    /*box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);*/
}

.search_container{
    cursor: pointer;
}

.search_container::before{
    content: "";
    position: absolute;
    margin: auto;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    width: 6px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
    transition: all 0.5s;
}

.search_container::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -3px;
    right: 0;
    bottom: 0;
    left: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    transition: all .5s;
}



.search input {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    width: 40px;
    padding: 0 42px 0 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    border-bottom: 2px solid transparent;
    background-color: #224584;
    color: #fff;
    /*transition: 3s cubic-bezier(0, 0.8, 0, 1);*/
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    /*font-weight: bold;*/
    font-size: 12px;
    box-shadow: 0 0 5px 0 #224584, 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.search input:hover {
    cursor: pointer;
}

.search input:focus {
    width: 120px;
    opacity: 0.7;
    cursor: text;
}

.search input:focus ~ .search_container{
    right: -150px;
    background-color: #e5e6eb;
    z-index: 6;
    border-color: #e5e6eb;
}

.search input:focus ~ .search_container{
    /*opacity: 0;*/
}

.search input:focus ~ .search_container::before{
    top: 0;
    left: 0;
    width: 14px;
    background-color: #224584;
}

.search input:focus ~ .search_container::after{
    top: 0;
    left: 0;
    width: 14px;
    height: 2px;
    border: none;
    background-color: #224584;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.header_rank {
    width: 100px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 120px;
}

.header_rank .iconfont {
    display: inline-block;
    font-size: 28px;
}

.header_rank .rank_text {
    display: inline-block;
    margin-left: 5px;
}

.header_rank a{
    color: #000;
}

.header_register{
    width: 120px;
    height: 22px;
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 0;
}

.header_register p{
    display: inline-block;
}

.header_register .register_string{
    width: 0;
    height: 15px;
    border-left: 2px solid #C0C0C0;
}

.header_register .register_p1{
    color: #224584;
}

.header_register .register_p2{
    color: #000;
}

.main {
    width: 100%;
    background-color: #F3F2F5;
    overflow: hidden;
    /*margin-bottom: 100px;*/
}

.main .sidebar {
    width: 120px;
    height: 577px;
    background-color: #fff;
    margin-top: 80px;
    display: inline-block;
}

.main .sidebar li {
    width: 100px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 14px;
}

.main .sidebar .item_1 {
    color: #224584;
    border-left: 2px solid #224584;
}

.main .sidebar .ul {
    margin-top: 40px;
}

.main .sidebar .ul li {
    font-size: 12px;
}

.main .middle {
    width: 750px;
    height: 577px;
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    margin-left: 15px;
}

.main .middle_up {
    width: 720px;
    height: 30px;
    background-color: #fff;
    padding: 15px;
    position: relative;
}

.main .middle_up .title_1 {
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    color: #224584;
}

.main .middle_up .title_2 {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 40px;
    color: #666;
}

.main .middle_up .triangle {
    width: 10px;
    height: 10px;
    background-color: #F3F2F5;
    position: absolute;
    bottom: -4px;
    left: 44px;
    transform: rotate(45deg);
}

.main .middle_up .search {
    display: inline-block;
    vertical-align: top;
    margin-left: 400px;
    position: relative;
}

.main .middle_up .search input {
    width: 180px;
    height: 26px;
    padding-left: 10px;
}

.main .middle_up .search .iconfont {
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 8px;
}

.main .middle_down {
    width: 750px;
    height: 234px;
    background-color: #fff;
    margin-top: 16px;
}

.main .middle_down .portrait {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 18px;
    display: inline-block;
}

.main .middle_down .name {
    width: 200px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 10px;
}

.main .middle_down .name .nickname {
    font-size: 14px;
    margin-top: 4px;
}

.main .middle_down .name .date {
    font-size: 12px;
    margin-top: 8px;
    color: #999;
}

.main .middle_down .pull_down {
    width: 20px;
    height: 20px;
    background-color: pink;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 400px;
}

.main .middle_down .text {
    width: 644px;
    height: 34px;
    font-size: 14px;
    margin-left: 78px;
    margin-top: 14px;
    color: #222;
}

.main .middle_down .text span {
    color: #224584;
}

.main .middle_down .reply {
    width: 646px;
    height: 42px;
    line-height: 42px;
    background-color: #F2F2F5;
    margin-left: 78px;
}

.main .middle_down .reply_text {
    font-size: 12px;
    color: #666;
    margin-left: 16px;
}

.main .middle_down .bottom {
    width: 750px;
    height: 38px;
    border-top: 1px solid #EAEAEA;
    margin-top: 26px;
}

.main .middle_down .bottom p {
    width: 370px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-right: 1px solid #DDD;
    margin-top: 10px;
    font-size: 12px;
}

.main .middle_down .bottom .last {
    border: none;
    color: #224584;
}

.main .middle_down .bottom .iconfont {
    font-size: 14px;
    letter-spacing: 4px;
}

.main .right {
    width: 290px;
    height: 577px;
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    margin-left: 15px;
}

.main .right_mine {
    width: 290px;
    height: 166px;
    position: relative;
    background-color: #fff;
}

.main .right_mine .background {
    width: 290px;
    height: 68px;
}

.main .right_mine .portrait {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 30px;
    left: 110px;
}

.main .right_mine .name {
    width: 290px;
    height: 21px;
    text-align: center;
    font-size: 16px;
    color: #222;
    margin-top: 26px;
    margin-bottom: 4px;
}

.main .right_mine .message {
    width: 210px;
    height: 38px;
    margin: 0 auto;
}

.main .right_mine .message .attention {
    font-size: 12px;
    color: #999;
    display: inline-block;
    text-align: center;

}

.main .right_mine .message .attention span {
    font-size: 14px;
    color: #222;
    font-weight: bold;
}

.main .right_mine .message .fans {
    width: 100px;
    height: 34px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-left: 20px;
    margin-right: 26px;
    text-align: center;

}

.main .right_mine .message .fans span {
    font-size: 14px;
    color: #222;
    font-weight: bold;
}

.main .right_mine .message .microblog {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #999;
    text-align: center;

}

.main .right_mine .message .microblog span {
    font-size: 14px;
    color: #222;
    font-weight: bold;
}

.main .right_new {
    width: 290px;
    height: 396px;
    margin-top: 16px;
    background-color: #fff;
}

.main .right_new .title {
    width: 290px;
    height: 40px;
    border-bottom: 1px solid #EAEAEA;
}

.main .right_new .title_text {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #222;
    display: inline-block;
}

.main .right_new .title_change {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #999;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}

.main .right_new .topic {
    width: 260px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 12px;
    color: #222;
    position: relative;
}

.main .right_new .topic span {
    position: absolute;
    right: 0;
    color: #888;
}

.main .right_new .more {
    width: 290px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #666;
    letter-spacing: 1px;
}

.main .collect {
    width: 750px;
    height: 234px;
    background-color: #fff;
    margin-left: 140px;
    /*margin-top: -250px;*/
    margin-bottom: 20px;
}

#collect0 {
    margin-top: -500px;
}

.main .collect .portrait {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 18px;
    display: inline-block;
}

.main .collect .name {
    width: 200px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 10px;
}

.main .collect .name .nickname {
    font-size: 14px;
    margin-top: 4px;
}

.main .collect .name .date {
    font-size: 12px;
    margin-top: 8px;
    color: #999;
}

.main .collect .pull_down {
    width: 20px;
    height: 20px;
    background-color: pink;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 400px;
}

.main .collect .text {
    width: 644px;
    height: 34px;
    font-size: 14px;
    margin-left: 78px;
    margin-top: 14px;
    color: #222;
}

.main .collect .text span {
    color: #224584;
}

.main .collect .reply {
    width: 646px;
    height: 42px;
    line-height: 42px;
    background-color: #F2F2F5;
    margin-left: 78px;
}

.main .collect .reply_text {
    font-size: 12px;
    color: #666;
    margin-left: 16px;
}

.main .collect .bottom {
    width: 750px;
    height: 38px;
    border-top: 1px solid #EAEAEA;
    margin-top: 26px;
}

.main .collect .bottom p {
    width: 370px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-right: 1px solid #DDD;
    margin-top: 10px;
    font-size: 12px;
}

.main .collect .bottom .last {
    border: none;
    color: #224584;
}

.main .collect .bottom .iconfont {
    font-size: 14px;
    letter-spacing: 4px;
}