.public_container{
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}

.clearfloat{
	zoom: 1;
}
	.clearfloat:after {
		display: block;
		clear: both;
		content: "";
		visibility: hidden;
		height: 0;
	}

/*div{*/
	/*opacity: 0.92;*/
/*}*/


.public_header {
	width: 100%;
	height: 50px;
	border-top: 3px solid #224584;
	border-bottom: 1px solid #DDD;
	box-shadow: 0 3px 10px #DDD;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: rgb(255,255,255,0.8);
}

.header_logo {
	width: 100px;
	height: 40px;
	display: inline-block;
	margin-top: 2px;
}

.header_logo .logo {
	width: 120px;
	height: 40px;

}

.header_ul {
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
	margin-top: 18px;
}

.header_ul li {
	float: left;
	margin-left: 50px;
}

.header_ul li:hover{
	color: #79BAEA;
}

.header_ul a {
	color: #000;
}

.search{
	height: 60px;
	position: relative;
	width: 200px;
	display: inline-block;
	margin-left: 36px;
	/*vertical-align: top;*/
	/*margin-top: 40px;*/
	display: inline-block;
	vertical-align: top;
	margin-top: -4px;
	/*margin-right: 3%;*/
	/*vertical-align: middle;*/
	opacity: 0.5;
}

.search_container{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 24px;
	height: 24px;
	border: 2px solid #000;
	background-color: #fff;
	border-radius: 50%;
	transition: all 1s;
	z-index: 4;
	/*box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);*/
}

.search_container{
	cursor: pointer;
}

.search_container::before{
	content: "";
	position: absolute;
	margin: auto;
	top: 10px;
	bottom: 0;
	left: 10px;
	right: 0;
	width: 6px;
	height: 2px;
	background-color: #000;
	transform: rotate(45deg);
	transition: all 0.5s;
}

.search_container::after {
	content: "";
	position: absolute;
	margin: auto;
	top: -3px;
	right: 0;
	bottom: 0;
	left: -3px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #000;
	transition: all .5s;
}



.search input {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	width: 40px;
	padding: 0 42px 0 15px;
	outline: none;
	border: none;
	border-radius: 20px;
	border-bottom: 2px solid transparent;
	background-color: #224584;
	color: #fff;
	/*transition: 3s cubic-bezier(0, 0.8, 0, 1);*/
	transition: all 1s;
	opacity: 0;
	z-index: 5;
	/*font-weight: bold;*/
	font-size: 12px;
	box-shadow: 0 0 5px 0 #224584, 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.search input:hover {
	cursor: pointer;
}

.search input:focus {
	width: 120px;
	opacity: 0.7;
	cursor: text;
}

.search input:focus ~ .search_container{
	right: -150px;
	background-color: #e5e6eb;
	z-index: 6;
	border-color: #e5e6eb;
}

.search input:focus ~ .search_container{
	/*opacity: 0;*/
}

.search input:focus ~ .search_container::before{
	top: 0;
	left: 0;
	width: 14px;
	background-color: #224584;
}

.search input:focus ~ .search_container::after{
	top: 0;
	left: 0;
	width: 14px;
	height: 2px;
	border: none;
	background-color: #224584;
	border-radius: 0%;
	transform: rotate(-45deg);
}

.header_rank {
	width: 100px;
	height: 40px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 80px;
}

.header_rank .iconfont {
	display: inline-block;
	font-size: 28px;
}

.header_rank .rank_text {
	display: inline-block;
	margin-left: 5px;
}

.header_rank a {
	color: #000;
}

.header_register {
	width: 100px;
	height: 34px;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 0;
}

.header_register .portrait {
	width: 34px;
	height: 34px;
	border-radius: 50px;
	display: inline-block;
}

.header_register .modify {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #224584;
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
}

.header_register .modify .iconfont {
	font-size: 18px;
	color: #fff;
}


.background{
	width: 100%;
	/*height: 2000px;*/
	background-color: #F3F2F5;
	overflow: hidden;
}

	.background .banner{
		width: 1200px;
		height: 260px;
		/*background-color: #E3E7F1;*/
		/*background-image: url("http://img0.imgtn.bdimg.com/it/u=3575242220,441152374&amp;fm=26&amp;gp=0.jpg");*/
		/*background-size: 1200px 260px;*/
		margin: 0 auto;
		margin-top: 80px;
		position: relative;
	}

		.background .banner .background{
			width: 1200px;
			height: 260px;
		}

		.background .banner_part{
			width: 1200px;
			height: 160px;
			position: absolute;
			top: 0;
			left: 0;
			margin-top: 60px;
		}

		.background .banner .portrait{
			width: 100px;
			height: 100px;
			border: 2px solid #fff;
			border-radius: 50px;
			/*margin-top: 50px;*/
			margin-left: 550px;
		}

		.background .banner .name,.text{
			width: 1200px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			font-size: 18px;
			color: #fff;
		}

		.background .banner .text{
			font-size: 14px;
		}

	.background .title{
		width: 1200px;
		height: 40px;
		margin: 0 auto;
		background-color: #fff;
		margin-top: 10px;
	}

		.background .title .part{
			cursor: pointer;
		}

		.background .title .part:hover{
			color: #79BAEA;
		}

		.background .title .part_1{
			margin-top: 0px;
			width: 64px;
			height: 37px;
			line-height: 37px;
			text-align: center;
			font-size: 14px;
			color: #999;
			border-bottom: 3px solid #224584;
			margin-left: 300px;
			display: inline-block;
		}

		.background .title .part_2{
			width: 64px;
			height: 37px;
			line-height: 37px;
			text-align: center;
			font-size: 14px;
			color: #999;
			/*border-bottom: 3px solid #224584;*/
			margin-left: 200px;
			display: inline-block;
		}

		.background .title .part_3{
			width: 64px;
			height: 37px;
			line-height: 37px;
			text-align: center;
			font-size: 14px;
			color: #999;
			/*border-bottom: 3px solid #224584;*/
			margin-left: 200px;
			display: inline-block;
		}

	.background .left{
		width: 290px;
		height: 670px;
		display: inline-block;
		margin-top: 10px;
		overflow: hidden;
	}

		.background .left .personage{
			width: 290px;
			height: 60px;
			background-color: #fff;
			overflow: hidden;
			display: inline-block;
		}

			.background .left .personage .message{
				width: 210px;
				height: 38px;
				margin: 0 auto;
				margin-top: 14px;
			}

			.background .left .personage .message .attention{
				font-size: 12px;
				color: #999;
				display: inline-block;
				text-align: center;

			}

				.background .left .personage .message .attention span{
					font-size: 14px;
					color: #222;
					font-weight: bold;
				}

			.background .left .personage .message .fans{
				width: 100px;
				height: 34px;
				border-left: 1px solid #DDD;
				border-right: 1px solid #DDD;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				font-size: 12px;
				color: #999;
				margin-left: 20px;
				margin-right: 26px;
				text-align: center;

			}

				.background .left .personage .message .fans span{
					font-size: 14px;
					color: #222;
					font-weight: bold;
				}

			.background .left .personage .message .microblog{
				display: inline-block;
				vertical-align: top;
				font-size: 12px;
				color: #999;
				text-align: center;

			}

				.background .left .personage .message .microblog span{
					font-size: 14px;
					color: #222;
					font-weight: bold;
				}

		.background .left .data{
			width: 290px;
			height: 204px;
			background-color: #fff;
			margin-top: 10px;
		}

			.background .left .data .title{
				width: 275px;
				height: 44px;
				line-height: 44px;
				border: 1px solid #EAEAEA;
				font-size: 12px;
				padding-left: 15px;
			}

			.background .left .data .location,.birthday,.school{
				width: 260px;
				height: 24px;
				font-size: 12px;
				color: #666;
				padding-left: 15px;
				margin-top: 12px;
			}

			.background .left .data .more{
				width: 275px;
				height: 24px;
				line-height: 24px;
				text-align: center;
				font-size: 12px;
				color: #666;
				margin-top: 20px;
			}

				.background .left .data .more:hover{
					color: #79BAEA;
				}

		.background .left .images{
			width: 290px;
			height: 383px;
			background-color: #fff;
			margin-top: 10px;
		}

			.background .left .images .title{
				width: 275px;
				height: 44px;
				line-height: 44px;
				border: 1px solid #EAEAEA;
				font-size: 12px;
				padding-left: 15px;
			}

			.background .left .images .big{
				width: 178px;
				height: 178px;
				margin-top: 12px;
				margin-left: 6px;
				display: inline-block;
			}

			.background .left .images .two{
				width: 86px;
				height: 178px;
				margin-left: 6px;
				display: inline-block;
				vertical-align: top;
				margin-top: 12px;
			}

				.background .left .images .two_img_1,.two_img_2{
					width: 86px;
					height: 86px;
				}

				.background .left .images .two_img_2{
					margin-top: 2px;
				}

			.background .left .images .imgs{
				width: 86px;
				height: 86px;
				margin-left: 5px;
				margin-top: 6px;
			}

			.background .left .images .more{
				width: 275px;
				height: 24px;
				line-height: 24px;
				text-align: center;
				font-size: 12px;
				color: #666;
				margin-top: 20px;
			}

	.background .right{
		width: 890px;
		/*height: 670px;*/
		display: inline-block;
		vertical-align: top;
		margin-top: 10px;
		margin-left: 15px;
		overflow: hidden;
	}

		.background .right .middle{
			width: 890px;
			height: 46px;
			background-color: #fff;
			position: relative;
			display: inline-block;
			vertical-align: top;
		}

				.background .right .middle p{
					width: 64px;
					height: 46px;
					line-height: 46px;
					text-align: center;
					font-size: 12px;
					display: inline-block;
					vertical-align: top;
				}

					.background .right .middle a{
						color: #000;
					}

					.background .right .middle .item{
						color: #224584;
					}

				.background .right .middle .middle_search{
					display: inline-block;
					position: relative;
					margin-top: 10px;
					margin-left: 190px;
				}

					.background .right .middle .middle_search input{
						width: 190px;
						height: 26px;
						padding-left: 10px;
						border: 1px solid #DDD;
						font-size: 12px;
						color: #999;
					}

					.background .right .middle .middle_search .iconfont{
						font-size: 14px;
						position: absolute;
						right: 12px;
						top: 8px;
						color: #BBB;
						cursor: pointer;
					}

				.background .right .middle .triangle{
					width: 8px;
					height: 8px;
					background-color: #F3F2F5;
					position: absolute;
					bottom: -4px;
					left: 28px;
					transform: rotate(45deg);
				}

		/*
		.background .right .part_1{
			width: 750px;
			height: 637px;
			background-color: #fff;
			display: inline-block;
			margin-top: 10px;
		}

			.background .right .part_1 .portrait{
				width: 50px;
				height: 50px;
				border-radius: 50px;
				margin-top: 20px;
				margin-left: 18px;
				display: inline-block;
			}

			.background .right .part_1 .name{
				width: 200px;
				height: 50px;
				display: inline-block;
				vertical-align: top;
				margin-top: 20px;
				margin-left: 10px;
			}

				.background .right .part_1 .name .nickname{
					font-size: 14px;
					margin-top: 4px;
				}

				.background .right .part_1 .name .date{
					font-size: 12px;
					margin-top: 8px;
					color: #999;
				}

			.background .right .part_1 .pull_down{
				width: 20px;
				height: 20px;
				background-color: pink;
				display: inline-block;
				vertical-align: top;
				margin-top: 20px;
				margin-left: 400px;
			}

			.background .right .part_1 .text{
				width: 644px;
				height: 40px;
				font-size: 14px;
				margin-left: 78px;
				margin-top: 10px;
				color: #222;
				line-height: 18px;
			}

				.background .right .part_1 .text span{
					color: #224584;
				}

			.background .right .part_1 .imgs{
				width: 480px;
				height: 440px;
				!*margin-top: 12px;*!
				margin-bottom: 18px;
				margin-left: 78px;
			}

				.background .right .part_1 .middle_down_img{
					width: 136px;
					height: 136px;
					display: inline-block;
					vertical-align: top;
					margin-left: 6px;
					margin-top: 10px;
				}

			.background .right .part_1 .bottom{
				width: 750px;
				height: 38px;
				border-top: 1px solid #EAEAEA;
				margin-top: -5px;
			}

				.background .right .part_1 .bottom p{
					width: 182px;
					height: 24px;
					line-height: 24px;
					display: inline-block;
					vertical-align: top;
					text-align: center;
					border-right: 1px solid #DDD;
					margin-top: 4px;
					font-size: 12px;
				}

				.background .right .part_1 .bottom .last{
					border: none;
				}

				.background .right .part_1 .bottom .iconfont{
					font-size: 14px;
					letter-spacing: 4px;
				}

		.background .right .things{
			width: 750px;
			height: 424px;
			background-color: red;
			!*display: block;*!
			visibility: 1;
			!*margin-top: 16px;*!
		}
		*/

			/*.background .right .part_2 .portrait{
				width: 50px;
				height: 50px;
				border-radius: 50px;
				margin-top: 20px;
				margin-left: 18px;
				display: inline-block;
			}

			.background .right .part_2 .name{
				width: 200px;
				height: 50px;
				display: inline-block;
				vertical-align: top;
				margin-top: 20px;
				margin-left: 10px;
			}

				.background .right .part_2 .name .nickname{
					font-size: 14px;
					margin-top: 4px;
				}

				.background .right .part_2 .name .date{
					font-size: 12px;
					margin-top: 8px;
					color: #999;
				}

			.background .right .part_2 .pull_down{
				width: 20px;
				height: 20px;
				background-color: pink;
				display: inline-block;
				vertical-align: top;
				margin-top: 20px;
				margin-left: 400px;
			}

			.background .right .part_2 .text{
				width: 644px;
				height: 40px;
				font-size: 14px;
				margin-left: 78px;
				margin-top: 10px;
				color: #222;
			}

				.background .right .part_2 .text span{
					color: #224584;
				}

			.background .right .part_2 .middle_down_img{
				width: 136px;
				height: 136px;
				display: inline-block;
				vertical-align: top;
				margin-left: 10px;
				margin-top: 16px;
			}

				.background .right .part_2 .middle_down_img1{
					margin-left: 78px;
				}

			.background .right .part_2 .bottom{
				width: 750px;
				height: 38px;
				border-top: 1px solid #EAEAEA;
				margin-top: 20px;
			}

				.background .right .part_2 .bottom p{
					width: 182px;
					height: 24px;
					line-height: 24px;
					display: inline-block;
					vertical-align: top;
					text-align: center;
					border-right: 1px solid #DDD;
					margin-top: 10px;
					font-size: 12px;
				}

				.background .right .part_2 .bottom .last{
					border: none;
					color: #224584;
				}

				.background .right .part_2 .bottom .iconfont{
					font-size: 14px;
					letter-spacing: 4px;
				}








		.background .right .sidebar{
			width: 87px;
			height: 446px;
			display: inline-block;
			vertical-align: top;
			margin-top: 10px;
			margin-left: 16px;
			border-left: 1px solid #EAEAEA;
			overflow: hidden;
		}

			.background .right .sidebar p{
				width: 77px;
				height: 24px;
				line-height: 24px;
				padding-left: 10px;
				font-size: 14px;
				color: #222;
				margin-bottom: 10px;
			}

			.background .right .sidebar .item{
				margin-top: 4px;
				border-left: 2px solid #569FC9;
			}

*/

.part_1 {
	width: 750px;
	/*height: 637px;*/
	background-color: #fff;
	display: inline-block;
	margin-top: 10px;
}

/*.part_1:hover{*/
	/*opacity: 1;*/
	/*background-color: #fff;*/
/*}*/

.part_1 .portrait {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-top: 20px;
	margin-left: 18px;
	display: inline-block;
}

.part_1 .name {
	width: 200px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 10px;
}

.part_1 .name .nickname {
	font-size: 14px;
	margin-top: 4px;
}

.part_1 .name .date {
	font-size: 12px;
	margin-top: 8px;
	color: #999;
}

.part_1 .text {
	text-align: left;
	width: 644px;
	height: 40px;
	font-size: 14px;
	margin-left: 78px;
	margin-top: 10px;
	color: #222;
	display: block;
	word-break: break-all;
}

.part_1 .text span {
	color: #224584;
}

.part_1 .imgs {
	width: 480px;
	height: 136px;
	margin-top: 12px;
	margin-bottom: 18px;
	margin-left: 78px;
}

.part_1 .middle_down_img {
	width: 136px;
	height: 136px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-bottom: 10px;
}

.part_1 .bottom {
	width: 750px;
	height: 38px;
	margin-top: 26px;
	border-top: 1px solid #EAEAEA;
}

.part_1 .bottom_part {
	width: 182px;
	height: 24px;
	line-height: 24px;
	margin-top: 10px;
	border-right: 1px solid #DDD;
	display: inline-block;
	vertical-align: top;
}

.part_1 .bottom4 {
	border: none;
}

.part_1 .bottom_part .iconfont {
	width: 20px;
	height: 24px;
	display: inline-block;
	margin-left: 68px;
	font-size: 14px;
}

.part_1 .bottom_part p {
	width: 62px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	font-size: 12px;
}

 .part_1 .comment {
	width: 748px;
	/*height: 489px;*/
	background-color: #F2F2F5;
	margin: 0 auto;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
}

 .part_1 .comment .write {
	width: 748px;
	height: 100px;
}

 .part_1 .comment .write .head_img {
	width: 40px;
	height: 40px;
	margin-top: 16px;
	margin-left: 26px;
	display: inline-block;
}

 .part_1 .comment .write .text {
	width: 642px;
	height: 38px;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

 .part_1 .comment .write .option {
	width: 644px;
	height: 32px;
	line-height: 32px;
	margin-left: 81px;
}

 .part_1 .comment .write .option .expression {
	font-size: 18px;
	color: #F4BB61;
	display: inline-block;
}

 .part_1 .comment .write .option .image {
	font-size: 18px;
	color: #A4DE96;
	display: inline-block;
	margin-left: 10px;
}

 .part_1 .comment .write .option .check {
	width: 12px;
	height: 12px;
	background-color: #224584;
	display: inline-block;
	margin-left: 14px;
}

 .part_1 .comment .write .option .word {
	width: 108px;
	height: 15px;
	font-size: 12px;
	color: #999;
	display: inline-block;
	vertical-align: top;
}

 .part_1 .comment .write .option .submit {
	width: 86px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #224584;
	font-size: 14px;
	color: #fff;
	border: 0;
	margin-left: 358px;
}

 .part_1 .comment .option_1 {
	width: 748px;
	height: 70px;
	margin-top: 10px;
}

 .part_1 .comment .option_1 .head_img {
	width: 40px;
	height: 40px;
	margin-top: 16px;
	margin-left: 26px;
	display: inline-block;
}

 .part_1 .comment .option_1 .message {
	width: 642px;
	height: 49px;
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;
}

 .part_1 .comment .option_1 .message .nickname {
	font-size: 12px;
	color: #222;
}

 .part_1 .comment .option_1 .message .nickname span {
	color: #F0712E;
}

 .part_1 .comment .option_1 .message .date {
	width: 100px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
}

 .part_1 .comment .option_1 .message .reply {
	width: 30px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin-left: 448px;
}

 .part_1 .comment .option_1 .message .string {
	width: 1px;
	height: 12px;
	background-color: #DDD;
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

 .part_1 .comment .option_1 .message .like {
	width: 36px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
}

 .part_1 .comment .option_1_option {
	width: 644px;
	height: 68px;
	background-color: #E9E9F0;
	margin-left: 78px;
}


 .part_1 .comment .option_1_option .head_img {
	width: 40px;
	height: 40px;
	margin-top: 16px;
	margin-left: 26px;
	display: inline-block;
}

 .part_1 .comment .option_1_option .message {
	width: 560px;
	height: 40px;
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;
}

 .part_1 .comment .option_1_option .message .nickname {
	font-size: 12px;
	color: #222;
}

 .part_1 .comment .option_1_option .message .nickname span {
	color: #F0712E;
}

 .part_1 .comment .option_1_option .message .date {
	width: 100px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
}

 .part_1 .comment .option_1_option .message .reply {
	width: 30px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin-left: 355px;
}

 .part_1 .comment .option_1_option .message .string {
	width: 1px;
	height: 12px;
	background-color: #DDD;
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

 .part_1 .comment .option_1_option .message .like {
	width: 36px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
}

 .part_1 .comment .option_2 {
	width: 748px;
	height: 74px;
	margin-top: 10px;
	/*background-color: pink;*/
}

 .part_1 .comment .option_2 .head_img {
	width: 40px;
	height: 40px;
	margin-top: 16px;
	margin-left: 26px;
	display: inline-block;
}

 .part_1 .comment .option_2 .message {
	width: 642px;
	height: 40px;
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;
}

 .part_1 .comment .option_2 .message .nickname {
	font-size: 12px;
	color: #222;
}

 .part_1 .comment .option_2 .message .nickname span {
	color: #F0712E;
}

 .part_1 .comment .option_2 .message .date {
	width: 100px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
}

 .part_1 .comment .option_2 .message .reply {
	width: 30px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin-left: 448px;
}

 .part_1 .comment .option_2 .message .string {
	width: 1px;
	height: 12px;
	background-color: #DDD;
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

 .part_1 .comment .option_2 .message .like {
	width: 36px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
}

 .part_1 .comment .option_3 {
	width: 748px;
	height: 74px;
	/*margin-top: 10px;*/
	/*background-color: pink;*/
}

 .part_1 .comment .option_3 .head_img {
	width: 40px;
	height: 40px;
	margin-top: 16px;
	margin-left: 26px;
	display: inline-block;
}

 .part_1 .comment .option_3 .message {
	width: 642px;
	height: 40px;
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;
}

 .part_1 .comment .option_3 .message .nickname {
	font-size: 12px;
	color: #222;
}

 .part_1 .comment .option_3 .message .nickname span {
	color: #F0712E;
}

 .part_1 .comment .option_3 .message .date {
	width: 100px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
}

 .part_1 .comment .option_3 .message .reply {
	width: 30px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin-left: 448px;
}

 .part_1 .comment .option_3 .message .string {
	width: 1px;
	height: 12px;
	background-color: #DDD;
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

 .part_1 .comment .option_3 .message .like {
	width: 36px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #999;
	display: inline-block;
}


#bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.5);
	z-index: 101;
	display: none;
}

#introduce{
	width: 600px;
	height: 400px;
	position: fixed;
	top: 20%;
	left: 30%;
	background-color: #fff;
	z-index: 102;
	display: none;
}

#introduce .title{
	width: 250px;
	height: 80px;
	padding-left: 250px;
	line-height: 80px;
	font-size: 24px;
	color: #224584;
	letter-spacing: 3px;
	display: inline-block;
	/*background-color: red;*/
}

#introduce p{
	display: inline-block;
}

#introduce div{
	width: 460px;
	height: 60px;
	line-height: 60px;
	padding-left: 140px;
}

#introduce .introduce_age,.introduce_birthday,.introduce_name,.introduce_sex,.introduce_place{
	color: #666666;
	margin-right: 100px;
}

#introduce .introduce_place{
	margin-right: 85px;
}

.return{
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50px;
	position: fixed;
	bottom: 60px;
	right: 60px;
	background-color: #fff;
	z-index: 100;
	cursor: pointer;
}

.return .iconfont{
	font-size: 26px;
	color: #224584;
}