.public_container{
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}

.clearfloat{
	zoom: 1;
}
	.clearfloat:after{
		display: block;
		clear: both;
		content: "";
		visibility: hidden;
		height: 0;
	}


.public_header {
	width: 100%;
	height: 50px;
	border-top: 3px solid #224584;
	border-bottom: 1px solid #DDD;
	box-shadow: 0 3px 10px #DDD;
	position: fixed;
	top: 0;
	z-index: 100;
}

.header_logo {
	width: 100px;
	height: 40px;
	display: inline-block;
	margin-top: 2px;
}

.header_logo .logo {
	width: 120px;
	height: 40px;

}

.header_ul {
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
	margin-top: 18px;
}

.header_ul li {
	float: left;
	margin-left: 50px;
}

.header_ul a {
	color: #000;
}

.header_search {
	width: 300px;
	height: 36px;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	margin-left: 80px;
	position: relative;
}

.header_search input {
	width: 300px;
	height: 30px;
	outline: none;
}

.header_search .iconfont {
	position: absolute;
	right: 12px;
	top: 8px;
	font-size: 20px;
}

.header_rank {
	width: 100px;
	height: 40px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 80px;
}

.header_rank .iconfont {
	display: inline-block;
	font-size: 28px;
}

.header_rank .rank_text {
	display: inline-block;
	margin-left: 5px;
}

.header_rank a {
	color: #000;
}

.header_register {
	width: 100px;
	height: 34px;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 0;
}

.header_register .portrait {
	width: 34px;
	height: 34px;
	border-radius: 50px;
	display: inline-block;
}

.header_register .modify {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #224584;
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
}

.header_register .modify .iconfont {
	font-size: 18px;
	color: #fff;
}

.main{
	width: 100%;
	height: 1120px;
	background-color: #F3F2F5;
	overflow: hidden;
}

	.main .personage{
		width: 300px;
		height: 700px;
		margin-top: 80px;
		display: inline-block;
	}

		.main .personage_up{
			width: 300px;
			height: 263px;
			background-color: #fff;
		}

			.main .personage_up .portrait{
				width: 80px;
				height: 80px;
				border-radius: 50px;
				margin-left: 110px;
				margin-top: 50px;
			}

			.main .personage_up .name{
				width: 300px;
				height: 40px;
				line-height: 40px;
				font-size: 18px;
				text-align: center;
			}

			.main .personage_up .signature{
				width: 300px;
				height: 30px;
				line-height: 30px;
				font-size: 12px;
				text-align: center;
				color: #999;
			}

		.main .personage_down{
			width: 300px;
			height: 368px;
			background-color: #fff;
			margin-top: 16px;
			overflow: hidden;
		}

			.main .personage_down .title{
				font-size: 14px;
				color: #222;
				margin-left: 20px;
				margin-top: 16px;

			}

			.main .personage_down p{
				font-size: 12px;
				color: #666;
				margin-top: 14px;
				margin-left: 20px;
			}

			.main .personage_down .ul li{
				font-size: 12px;
				color: #666;
				margin-top: 14px;
				margin-left: 30px;
			}

		.main .personage_middle{
			width: 300px;
			height: 48px;
			background-color: #fff;
			margin-top: 16px;
			overflow: hidden;
		}

			.main .personage_middle p{
				margin-left: 20px;
				margin-top: 16px;
				font-size: 14px;
				color: #224584;
			}

	.main .information{
		width: 880px;
		height: 967px;
		background-color: #fff;
		display: inline-block;
		vertical-align: top;
		margin-top: 80px;
		margin-left: 10px;
		overflow: hidden;
	}

		.main .information .title{
			width: 880px;
			height: 50px;
			overflow: hidden;
			border-bottom: 1px solid #EAEAEA;
		}

			.main .information .title p{
				margin-top: 14px;
				margin-left: 20px;
				font-size: 14px;
				color: #222;
			}

		.main .information .select{
			border: none;
			width: 85px;
			height: 16px;
			font-size: 12px;
			margin-top: 14px;
			margin-left: 18px;
			display: inline-block;
		}

		.main .information .search{
			width: 192px;
			height: 28px;
			display: inline-block;
			margin-left: 550px;
			position: relative;
		}

			.main .information .search input{
				width: 180px;
				height: 26px;
				font-size: 12px;
				border: 1px solid #DDD;
				padding-left: 10px;
			}

			.main .information .search .iconfont{
				font-size: 14px;
				position: absolute;
				right: 12px;
				top: 6px;
			}

		.main .information .part_1,.part_2{
			width: 408px;
			height: 92px;
			background-color: #FDFDFD;
			display: inline-block;
			border: 1px solid #EAEAEA;
			margin-top: 14px;
			margin-left: 20px;
			overflow: hidden;
		}

			.main .information .portrait{
				width: 68px;
				height: 68px;
				margin-top: 12px;
				margin-left: 12px;
			}

			.main .information .message{
				width: 302px;
				height: 68px;
				display: inline-block;
				vertical-align: top;
				margin-left: 8px;
				margin-top: 12px;
				position: relative;
			}

				.main .information .message .name{
					font-size: 14px;
					color: #222;
				}

				.main .information .message .signature{
					font-size: 12px;
					color: #999;
					margin-top: 5px;	
				}

				.main .information .message .attention{
					font-size: 12px;
					color: #999;
					display: inline-block;
					margin-top: 8px;
				}

				.main .information .message .add{
					width: 77px;
					height: 23px;
					line-height: 23px;
					background-color: #fff;
					color: #EAEAEA;
					font-size: 12px;
					color: #999;
					padding-left: 5px;
					margin-top: 5px;
					border: 1px solid #EAEAEA;
				}

					.main .information .message .add span{
						color: #224584;
					}

				.main .information .message .menu{
					width: 12px;
					height: 12px;
					background-color: pink;
					position: absolute;
					right: 0;
					bottom: 4px;
				}